.footer_info{
    width:100%;
    .first_line{
        color: blue;
        display: flex;
        justify-content: space-between;
    }
    .second_line{
        color: blue;
        display: flex;
        justify-content: space-between;
    }
}